<h1 class="all">There are <span><%= Contact.all.length %></span> contacts</h1>
<ul class="contacts">

  <% Contact.all.each do |contact| %>
    <li class="contact"><strong><%= contact.first_name %> <%= contact.last_name %> (<%=contact.email %>)</strong>
      <br>
      <a href="/contacts/<%= contact.id %>">View contact</a> | <a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="/contacts/<%= contact.id %>" method="post">Delete</a>
    </li>
  <% end %>
</ul>
